tox
isort
flake8==3.6.0
pkgversion

freezegun>=0.3.7,<0.4
mock>=2.0,<3.0

# PyTest for running the tests.
pytest
pytest-asyncio; python_version >= '3.5'
pytest-cov

# docs
sphinx
sphinxcontrib-plantuml
sphinx_rtd_theme
